<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
</head>
<body>
<header>
    <h1>Welcome to My Website</h1>
</header>
<div class="container">
    <nav>
        <ul>
            <li>
                <form method="GET" action="/">
                    <button type="submit" class="main-button">홈</button>
                </form>
            </li>
            <li class="dropdown">
                <div class="dropdown-content">
                    <form method="GET" action="/public/board/view/list">
                        <button type="submit" class="sub-button">자유게시판 (일반)</button>
                    </form>
                    <form method="GET" action="/premium/board/view/list">
                        <button type="submit" class="sub-button">자유게시판 (우수)</button>
                    </form>
                    <form method="GET" action="/public/upBoard/view/list">
                        <button type="submit" class="sub-button">등업게시판 (일반)</button>
                    </form>
                </div>
            </li>
            <li class="dropdown">
                <div class="sub-button" style="background-color:#c6bdbe; color:black; font-weight: bold; text-align:center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">관리자 페이지</div>
                <div class="dropdown-content">
                    <form method="GET" action="/admin/member/view/list">
                        <button type="submit" class="sub-button" style="background-color:#494f54">멤버 관리</button>
                    </form>
                    <form method="GET" action="/admin/board/view/list">
                        <button type="submit" class="sub-button" style="background-color:#494f54">게시판 관리</button>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
    <main class="main-mypage">
        <h2>마이페이지</h2>
        <div th:if="${message}" class="alert alert-danger">
            <p th:text="${message}"></p>
        </div>
        <form method="POST" action="/api/login" style="width:40%;">
            <div style="margin-bottom: 15px;">
                <label>아이디:</label>
                <input class="disabled-input" type="text" id="id" name="id" th:value="${member.id}" disabled>
            </div>
            <div style="margin-bottom: 15px;">
                <label>비밀번호:</label>
                <input class="disabled-input" type="password" id="pw" name="pw" disabled>
            </div>
            <div style="margin-bottom: 15px;">
                <label>이름:</label>
                <input class="disabled-input" type="text" id="fullName" name="fullName" th:value="${member.fullName}" disabled>
            </div>
            <div style="margin-bottom: 15px;">
                <label>이메일:</label>
                <input class="disabled-input" type="text" id="email" name="email" th:value="${member.email}" disabled>
            </div>
            <div>
                <div style="margin-bottom: 15px;">
                    <label>등급:</label>
                    <input type="text" id="role" name="role" th:value="${member.roles}" disabled>
                </div>
                <div>
                    <button id="memberInfoEditBtn" type="button" onclick="toggleReadOnly()">회원정보 수정 활성화</button>
                    <button id="memberInfoSaveBtn" type="submit" style="display:none">회원정보 저장</button>
                </div>
        </form>
    </main>
    <nav class="right-nav">
        <ul>
            <li>
                <form method="GET" action="/member/view/login" sec:authorize="isAnonymous()">
                    <button type="submit" class="main-button">로그인</button>
                </form>
            </li>
            <li>
                <form method="GET" action="/member/view/myPage" sec:authorize="isAuthenticated()">
                    <button type="submit" class="main-button">마이페이지</button>
                </form>
            </li>
            <li>
                <form method="GET" action="/member/view/signUp" sec:authorize="isAnonymous()">
                    <button type="submit" class="main-button">회원가입</button>
                </form>
            </li>
            <li>
                <form method="GET" action="/api/logout" sec:authorize="isAuthenticated()">
                    <button type="submit" class="main-button">로그아웃</button>
                </form>
            </li>
        </ul>
    </nav>
</div>
<footer>
    <p>&copy; 2024 My Website</p>
</footer>

<script>
    function toggleReadOnly() {
        const disabledInputs = document.getElementsByClassName('disabled-input');
        for(let i=0; i< disabledInputs.length; i++){
            disabledInputs[i].disabled = !disabledInputs[i].disabled;
        }

    }
</script>
</script>
</body>
</html>