<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

</head>
<body>
<h1>Index Page</h1>

<form method="post" action="/api/logout">
    <button type="submit">로그아웃</button>
</form>
</body>

<script>
    // Security 보안을 타지 않는다.
    const loginBtn = document.getElementById("login")
    loginBtn.addEventListener("click", () => {
        window.location.href = '/view/login'
    })
    
    // Security 보안을 탄다.
    // loginBtn.addEventListener("click", () => {
    //     const xhr = new XMLHttpRequest();
    //     xhr.onreadystatechange = function() {
    //         if (xhr.readyState === XMLHttpRequest.DONE) {
    //             if (xhr.status === 200) {
    //                 viewContainer.innerHTML = xhr.responseText;
    //             } else {
    //                 console.error('Failed to fetch view:', xhr.status);
    //             }
    //         }
    //     };
    //     xhr.open('GET', '/view/boardList', true);
    //     xhr.send();
    // })
</script>
</html>